* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 235px;
  background-color: #000000;
  padding: 24px;
}
.sidebar .logo img {
  width: 120px;
}
.sidebar .navigation ul {
  list-style: none;
  margin-top: 20px;
}
.sidebar .navigation ul li {
  padding: 12px 0px;
}

.sidebar .navigation .nav-item .inactive {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  color: white;
  fill: white;
  opacity: .8;
}
.sidebar .navigation .nav-item .inactive img {
  margin-right: 17px;
  margin-left: 5px
}
.sidebar .navigation .nav-item .active {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
.sidebar .navigation .nav-item .active img {
  margin-right:15px;
  margin-left: 5px
}
.sidebar .navigation .nav-item .inactive:hover {
  opacity: 1;}

.btn-primary-found {
    background-color: #53d380;
    border-color: #000000;
    color: #000000;
    width: 200px;
    height: 60px;
    font-size: 30px;
}

.main-container {
  margin-left: 245px;
  margin-bottom: 100px;}

.btn-primary-gu {
    background-color: #d7a770;
    border-color: #000000;
    color: #000000;
    width: 200px;
    height: 60px;
    font-size: 30px;
}

.topbar {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 15px 25px;
}
.topbar .prev-next-buttons button {
  color: #7a7a7a;
  cursor: not-allowed;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}
