body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #1DB954, #000000);
    color: white;
}

.jumbotron {
    background-color: transparent;
}

.logo {
    width: 200px; 
    display: block;
    margin: 20px auto;
}

.table {
    color: white;
}

.table-bordered {
    border: 2px solid white;
}

.table-bordered th, .table-bordered td {
    border: 2px solid white;

}

.form-group label {
    color: white;
}

.form-check-input[type="radio"] {
    margin-right: 8px;
}

.btn-primary {
    background-color: #1DB954;
    border-color: #1DB954;
}

.btn-primary:hover {
    background-color: #1DB954;
    border-color: #1DB954;
    opacity: 0.8;
}

.btn-primary-submit {
    background-color: #0195eb;
    border-color: #0501eb;
    color: white;
    width: 500px;
}

.btn-primary-found {
    background-color: #53d380;
    border-color: #000000;
    color: #000000;
    width: 200px;
    height: 60px;
    font-size: 30px;
}

.btn-primary-gu {
    background-color: #d7a770;
    border-color: #000000;
    color: #000000;
    width: 200px;
    height: 60px;
    font-size: 30px;
}

.table-bordered-song{
    border: 2px solid #000000;
    background-color: #6c987c;
    max-width: 1500px;
    color: #000000;
    padding: 50px;
}

.table-bordered-song th, .table-bordered-song td {
    border: 1px solid #000000;
}
