

	.container {
		max-width: 1050px;
		margin: 0 auto;
		padding: 20px;
		background-color: #ffffff;
		border-radius: 10px;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	}

	h1 {
		text-align: center;
		color: #39B929;
		font-size: 36px;
		margin-top: 0;
		margin-bottom: 30px;
	}


	h2,
	h3 {
		text-align: center;
		margin-top: 0;
		margin-bottom: 0px;
	}

	.label {
		font-weight: bold;
		color: #222222;
	}

	/* Table Styles */
	.table {
		margin-bottom: 30px;
		width: 98.5%;
		border-collapse: separate;
		/* Separate adjacent cell borders */
		border-spacing: 0;
		/* Remove space between table cells */
		padding: 15px
	}

	.table th {
		background-color: #39B929;
		color: #ffffff;
		text-align: center;
		border-bottom: 1px solid #ffffff;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	.table td {
		background-color: #ffffff;
		text-align: center;
		border-bottom: 1px solid #ffffff;
	}

	/* Search Input Styles */
	.mb-3 {
		margin-bottom: 15px;
	}

	.form-control {
		width: 97%;
		padding: 10px;
		font-size: 16px;
		border: 1px solid #cccccc;
		border-radius: 4px;
		background-color: #DFF9DC;
	}

	.view-select {
		width: 140px;
		height: 30px;
		float: right;
		border: 1px solid #ccc;
		padding: 5px 3px;
		font-size: 14px;
		border-radius: 6px;
		background-color: #fff;
		color: #333;
		cursor: pointer;
	}

	.view-select:focus {
		outline: none;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	}

	/* Action Button Styles */
	.btn {
		height: 40px;
		width: 40px;
		border-radius: 20px;
		background-color: transparent;
		border: none;
	}

	.dataTables_length .custom-select {
		font-weight: bold;
	}

	@media (min-width: 768px) {
		.btn {
			height: 35px;
			width: 50px;
		}
	}

	@media (min-width: 992px) {
		.btn {
			height: 32px;
			width: 60px;
		}
	}

	.custom-button {
		background-color: #37862E;
		color: white;
		border-radius: 5px;
		padding: 10px 30px;
		font-size: 16px;
		height: 35px;
		width: 150px;
	}

	/* dorp-down option */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		min-width: 100px;
		background-color: rgba(255, 255, 255, 0.7);
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		backdrop-filter: blur(4px);
		z-index: 1;
	}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}

	.dropdown-content a:hover {
		background-color: #DFF9DC;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	.transparent-btn {
		background-color: transparent;
		border: none;
		padding: 0;
	}

	.transparent-btn:focus {
		outline: none;
	}

	.sort-text {
		margin-right: 5px;
	}

	.custom-pagination {
		text-align: center;
	}

	.icon-button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		margin-top: -5px;
		margin-bottom: -10px;
		margin-left: -3px
	}

	.fa {
		color: #b5b5b5;
	}
