body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
    background: #E8E8E8;
    color: white;
}
.container {
    width: 80%;
    margin: 100px 30px 30px 260px;
    background: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
    img {
        width: 24px;
    }
	h1 {
		text-align: center;
		color: #39B929;
		font-size: 36px;
		margin-top: 0;
		margin-bottom: 30px;
	}


	h2,
	h3 {
		text-align: center;
		margin-top: 0;
		margin-bottom: 0px;
	}

	.label {
		font-weight: bold;
		color: #222222;
	}

	/* Table Styles */
	.table {
		margin-bottom: 30px;
		width: 98.5%;
		border-collapse: separate;
		/* Separate adjacent cell borders */
		border-spacing: 0;
		/* Remove space between table cells */
		padding: 15px
	}

	.table th {
		background-color: #F5F5F5;
		color: #000000;
		text-align: center;
		border-top: #F5F5F5;
	}

	.table td {
		background-color: #F5F5F5;
		text-align: center;
	}

    .task-name {
        display: flex;
        width: 500px;
        border: none;
        background-color: transparent;
    }

    .save-button {
        display: none;
        margin-left: 10px;
    }

    .new-task-input {
        background-color: #fff;
        border: 1px solid #ccc;
    }

    .new-save-button {
        display: inline-block;
    }


	/* Search Input Styles */
	.search-container {
		margin-bottom: 15px;
	}

	.search {
		width: 97%;
		padding: 10px;
		font-size: 16px;
		border: 1px solid #cccccc;
		border-radius: 4px;
		background-color: #ffffff;
	}
	.search:focus {
        border-color: #696969;
    }

	.view-select {
		width: 140px;
		height: 30px;
		float: right;
		border: 1px solid #ccc;
		padding: 5px 3px;
		font-size: 14px;
		border-radius: 6px;
		background-color: #fff;
		color: #333;
		cursor: pointer;
	}

	.view-select:focus {
		outline: none;
		box-shadow: 0 0 3px #303030;
	}

	/* Action Button Styles */
	.btn {
		height: 40px;
		width: 40px;
		border-radius: 20px;
		background-color: transparent;
		border: none;
	}

	.dataTables_length .custom-select {
		font-weight: bold;
	}

	@media (min-width: 768px) {
		.btn {
			height: 35px;
			width: 50px;
		}
	}

	@media (min-width: 992px) {
		.btn {
			height: 32px;
			width: 60px;
		}
	}

	.custom-button {
		background-color: #37862E;
		color: white;
		border-radius: 5px;
		padding: 10px 30px;
		font-size: 16px;
		height: 35px;
		width: 150px;
	}

.create {
    background-color: #1db954;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    text-decoration: none !important;
}
.create,
.create:link,
.create:visited,
.create:hover,
.create:active {
    color: #ffffff;
    text-decoration: none;
}
