* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #333333 0%, #000000 50%, #000000 100%);
}

.main-container {
  margin-top: 50px;
  margin-left: 250px;
  margin-bottom: 100px;
}

.spotify-playlists {
  padding: 20px 40px;
}
.spotify-playlists h2 {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.spotify-playlists .list {
  display: flex;
  gap: 20px;
  overflow: hidden;
}
.spotify-playlists .list .item {
  min-width: 140px;
  width: 180px;
  padding: 15px;
  background-color: #181818;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover {
  background-color: #252525;
}
.spotify-playlists .list .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}
.spotify-playlists .list .item .play {
  position: relative;
}
.spotify-playlists .list .item .play .fa {
  position: absolute;
  right: 10px;
  top: -60px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-20px);
}
.spotify-playlists .list .item h4 {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: normal;
  line-height: 1.5;
}

.spotify-playlists hr {
  margin: 70px 0px 0px;
  border-color: #636363;
}
