body {
    background-color: #e9f2fd;

    font-family: Arial, Helvetica, sans-serif;

    color: #222222;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e3f0ff;
    border: 1px solid #b3d9ff;
    border-radius: 5px;
}

h1 {
    margin-top: -10px;
    text-align: center;
    color: #4287f5;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.icon-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin-top: -5px;
            margin-bottom: -10px;
            margin-left: -3px
        }
.fa {
    color: #b5b5b5;
}