.link {
    fill: none;
    stroke: #666;
    stroke-width: 1px;
}

.node {
    font: 11px sans-serif;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2px;
}

.node text {
    fill: #333;
}

.node--internal text {
    text-anchor: end;
    dx: -10;
}

.node--leaf text {
    text-anchor: start;
    dx: 10;
}

.content-container {
    padding: 60px 30px;
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.result-display {
    margin-top: 20px;
}

.result {
    display: block;
    margin-bottom: 10px;
}

#tree {
    margin-left: 30px;
    margin-top: -200px; 
}

