body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
    background: #E8E8E8 !important;
    background-attachment: fixed;
}
.main-container {
    width: 80%;
    margin: 100px 20px 20px 260px;
    background: #F5F5F5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.link {
    fill: none;
    stroke: #666;
    stroke-width: 1px;
}

.node {
    font: 11px sans-serif;
}

.node circle {
    fill: #7db193;
    stroke: #7db193;
    stroke-width: 2px;
}

.node text {
    fill: #fffdfd;
}

.node--internal text {
    text-anchor: end;
    dx: -10;
}

.node--leaf text {
    text-anchor: start;
    dx: 10;
}

.form-group {
    margin-bottom: 20px;
}

.result-display {
    margin-top: 20px;

}

.result {
    display: block;
    margin-bottom: 10px;
}

.result-display span.result {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group, .result-display{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    
}
.list-group{
    color: #19412f;
}

.form-group label {
    width: 150px; 
    
}

.form-group select, 
.form-group input {
    width: 500px; 
    margin-right: 20px;
}

.custom-form {
    position: fixed;
    top: 50px;       
    left: 250px;     
    width: 600px;
    height: 300px; 
    overflow-y: auto;
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); 
    z-index: 1000;
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    font-family: sans-serif;
    color: #19412f;
}

.btn-primary{
    background: linear-gradient(to left, #115c2f, #115c2f);
    border-radius: 4px;
}

