<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div class="topbar">
    <div class="prev-next-buttons">
        <button class="previous round"onclick="previous()" id="backward">
            <i class="fas fa-angle-left"></i>
        </button>
        <button class="next round" onClick="next()" id="forward">
            <i class="fas fa-angle-right"></i>
        </button>
    </div>
    <div class="task">
        <span th:text="'Model ' + ${modelNo} + ' | ' + ${task}"></span>
    </div>
    <div class="timer">
        <img src="/image/timer.svg">
        <span id="timerDisplay" class="label"></span>
    </div>
</div>

    <div class="sidebar">
        <div class="logo">
            <a th:href="@{/home}">
                <img src="/image/spotify.png" alt="Logo" />
            </a>
        </div>

        <div class="navigation">
            <ul>
                <li class="nav-item">
                    <a href="#" id="dynamicLink" class="active">
                        <img src="/image/browse.svg">
                        Main Categories
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="navigation">
        <ul>
            <li class="nav-item">
                <a href="#" id="dynamicLink" class="active">
                    <img src="/image/browse.svg">
                    Main Categories
                </a>
            </li>
        </ul>
    </div>
</div>
<script>

    // pre/next buttons:
    function next() {
        window.history.forward();
    }

    function previous() {
        // Disable navigating back to the home page
        if (!document.referrer.endsWith('home')) {
            window.history.back();
        }
    }

    let loadTime;
    let interval;
    let lastEventTime; // Time of the last event (click or page load). This updates within setClickListener or onPageChange


    window.addEventListener('load', function() {
        loadTime = new Date().getTime();
        lastEventTime = loadTime; // Initialize last event time on page load

        // Onclick listeners for the history function that takes into account layer and the html structure
        if (document.querySelector('.section--body--item.category--item')) {
            setClickListener(1, 'h3', '.section--body--item.category--item');
        } else if (document.querySelector('.item')) {
            setClickListener(2, 'h4', '.item');
        }

        // Display timer
        displayElapsedTime();
        if(!interval) {
            interval = setInterval(displayElapsedTime, 1000);
        }

        // Page change event listener e.g. user presses back button
        window.addEventListener('beforeunload', onPageChange);

        let taskData = JSON.parse(sessionStorage.getItem('taskData'));

        // For updating the sidebar Main Categories link
        if (taskData && taskData.modelId && taskData.taskId) {
            let newUrl = `http://localhost:8000/model?taskNo=${taskData.taskId}&modelNo=${taskData.modelId}`;
            document.getElementById('dynamicLink').setAttribute('href', newUrl);
        }

    });


    function setClickListener(layer, selector, divClass) {
        const itemDivs = document.querySelectorAll(divClass);

        itemDivs.forEach(div => {
            div.addEventListener('click', function(e) {
                const currentTime = new Date().getTime();
                const duration = currentTime - lastEventTime;  // Calculate the duration then update the lastEventTime
                lastEventTime = currentTime;

                // Log the history
                const itemText = e.currentTarget.querySelector(selector).textContent;
                const logLine = `${duration}, ${layer}, ${itemText}`;

                let history = JSON.parse(sessionStorage.getItem('history')) || [];
                history.push(logLine);

                sessionStorage.setItem('history', JSON.stringify(history));

                // Update the total duration
                let totalDuration = parseInt(sessionStorage.getItem('totalDuration')) || 0;
                totalDuration += duration;
                sessionStorage.setItem('totalDuration', totalDuration.toString());
            });
        });
    }

    function isSongPage() {
        return window.location.pathname.endsWith('songs');
    }

    function onPageChange() {
        const currentTime = new Date().getTime();
        const elapsedTime = currentTime - lastEventTime;
        updateSessionStorage(elapsedTime);

        if (isSongPage()) {
            // Log the history for the song page
            const logLine = `${elapsedTime}, 3, songs`;

            let history = JSON.parse(sessionStorage.getItem('history')) || [];
            history.push(logLine);

            sessionStorage.setItem('history', JSON.stringify(history));
        }
    }


    function updateSessionStorage(elapsedTime) {
        let totalElapsedTime = parseFloat(sessionStorage.getItem('totalDuration') || 0);
        totalElapsedTime += elapsedTime;
        sessionStorage.setItem('totalDuration', totalElapsedTime);
    }

    function displayElapsedTime() {
        let totalElapsedTime = parseFloat(sessionStorage.getItem('totalDuration') || 0) + (new Date().getTime() - lastEventTime);

        let minutes = Math.floor(totalElapsedTime / 60000);
        let seconds = Math.floor((totalElapsedTime % 60000) / 1000);

        let timeStr = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;

        let timerDisplay = document.getElementById('timerDisplay');
        timerDisplay.textContent = timeStr;

        const giveUpButton = document.querySelector(".btn-give-up");
        if (giveUpButton && minutes > 1) {
            giveUpButton.style.display = "block";
        }

    }

</script>
</body>
</html>