<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
    <body>
    <div class="topbar">
        <div class="prev-next-buttons">
            <button type="button" class="fa fas fa-chevron-left"></button>
            <button type="button" class="fa fas fa-chevron-right"></button>
        </div>
        <div class="model">
            <span th:text="'Model ' + ${modelNo}"></span>
        </div>
        <div th:class="${task}">
            <span th:text="${task}"></span>
        </div>
        <div class="timer">
            <img src="/image/timer.svg">
            <span id="timerDisplay" class="label"></span>
        </div>
    </div>

    <div class="sidebar">
        <div class="logo">
            <a href="#">
                <img src="/image/spotify.png" alt="Logo" />
            </a>
        </div>

        <div class="navigation">
            <ul>
                <li class="nav-item">
                    <a href="/home" class="inactive">
                        <img src="/image/home.svg">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="active">
                        <img src="/image/browse.svg">
                        Browse
                    </a>
                </li>
            </ul>
        </div>
    </div>
<script>
    let loadTime = new Date().getTime(); // Record the time when the page has fully loaded

    // Timer function
    document.addEventListener("DOMContentLoaded", function() {
        // Set to 0 if not present
        let totalDuration = parseInt(localStorage.getItem('totalDuration')) || 0;

        setInterval(function() {
            totalDuration += 1000;
            let minutes = Math.floor(totalDuration / 60000);
            let seconds = ((totalDuration % 60000) / 1000).toFixed(0);

            seconds = seconds < 10 ? '0' + seconds : seconds;
            // currently no timer display
            document.getElementById('timerDisplay').textContent = `${minutes}:${seconds}`;
        }, 1000);
    });


    // Listener function
    document.addEventListener("DOMContentLoaded", function() {
        const itemDivs = document.querySelectorAll('.item');

        itemDivs.forEach(div => {
            div.addEventListener('click', function(e) {
                const h4Text = e.currentTarget.querySelector('h4').textContent;

                let clickTime = new Date().getTime();
                let duration = (clickTime - loadTime)

                // TODO: Add model and task to line?

                const logLine = `${duration}, 2, ${h4Text}`; // 2 stands for the layer

                let history = JSON.parse(localStorage.getItem('history')) || [];
                history.push(logLine);

                localStorage.setItem('history', JSON.stringify(history));

                // Get from localStorage or set to 0 - shouldn't see 0 on sub
                let totalDuration = parseInt(localStorage.getItem('totalDuration')) || 0;
                totalDuration += duration;

                localStorage.setItem('totalDuration', totalDuration.toString());
            });
        });
    });
</script>
</body>
</html>