<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common-admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div class="topbar">
    <div class="prev-next-buttons">
        <button class="previous round"onclick="previous()" id="backward">
            <i class="fas fa-angle-left"></i>
        </button>
        <button class="next round" onClick="next()" id="forward">
            <i class="fas fa-angle-right"></i>
        </button>
    </div>
    <div class="task">
        <h3 id="pageTitle">Manage Tasks</h3>
    </div>
    <div class="logout-button logout-style">
        <a th:href="@{/logout}" class="label">Logout</a>
    </div>
</div>

<div class="sidebar">
    <div class="logo">
        <a th:href="@{/}">
            <img src="/image/spotify.png" alt="Logo" />
        </a>
    </div>

    <div class="navigation">
        <ul>
            <li class="nav-item">
                <a class="active" th:href="@{/admin/taskList}">
                    <img src="/image/manage-task.svg">
                    Manage Tasks
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="active" th:href="@{/admin/backtracks}">
                    <img src="/image/backtrack.svg">
                    User Backtracks
                </a>
            </li>
            <li class="nav-item">
                <a class="active" th:href="@{/admin/userlogs}">
                    <img src="/image/user-traversal.svg">
                    User Traversal
                </a>
            </li>
            <li class="nav-item">
                <a class="active" th:href="@{/admin/genretimechart}">
                    <img src="/image/genre-stat.svg">
                    Genre Statistics
                </a>
            </li>
            <li class="nav-item">
                <a class="active" th:href="@{/admin/logView}">
                    <img src="/image/user-logs.svg">
                    User Logs
                </a>
            </li>
        </ul>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    // pre/next buttons:
    function next() {
        window.history.forward();
    }

    function previous() {
        // Disable navigating back to the home page
        if (!document.referrer.endsWith('home')) {
            window.history.back();
        }
    }

      document.addEventListener("DOMContentLoaded", function() {
    const titleText = document.title; // Gets the title of the current page
    document.getElementById("pageTitle").innerText = titleText; // Sets the h4 element to the title
  });

</script>
</body>
</html>