<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/feedback.css">
</head>
<body>
<div class="top-bar">
    <a th:href="@{/}"><img src="/image/spotify.png" alt="Spotify Logo" class="logo"></a>
    <a class="admin login-button" th:href="@{/admin/login}">Admin Login</a>
</div>

<div class="container-ty">

    <h2>Thank you for your feedback!</h2>

</div>

</body>
</html>