<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="top-bar">
        <img src="/image/spotify.png" alt="Spotify Logo" class="logo">
    </div>
    <form action="/home" method="post" onsubmit="return checkTaskCompletion()" th:object="${user}">
        <h3>Login Here</h3>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div>
            <label for="age">Age</label>
            <input type="text" id="age" name="age" required>
        </div>

        <div>
            <label for="gender">Gender</label>
            <select id="gender" name="gender">
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
        </div>

        <div>
            <label for="modelId">Model</label>
            <select id="modelId" name="modelId" required>
                <option value="1">Model 1 (Base Model)</option>
                <option value="2">Model 2 (Own Model)</option>
            </select>
        </div>

        <div>
            <label for="taskId">Task</label>
            <select id="taskId" name="taskId" required>
                <option value="1">Task 1: Find a jazz love song by a male artist</option>
                <option value="2">Task 2: Find 'Call Me Maybe' by Carl Rae Jepsen</option>
                <option value="3">Task 3: Find a song by Irish rock band U2</option>
            </select>
        </div>

        <button type="submit">Proceed</button>
    </form>

    <script>
        function checkTaskCompletion() {
            const taskDataString = sessionStorage.getItem('taskData');
            const foundDataJSON = sessionStorage.getItem('foundData');

            if (taskDataString && foundDataJSON) {
                const taskData = JSON.parse(taskDataString);
                const foundData = JSON.parse(foundDataJSON);
                const selectedTaskId = document.getElementById('taskId').value;
                const selectedModelId = document.getElementById('modelId').value;

                const taskOptions = document.querySelectorAll('#taskId option');
                taskOptions.forEach(option => {
                    const taskId = option.value;
                    const isTaskCompletedForModel = foundData.some(entry => entry.taskId === taskId && entry.modelId === selectedModelId);
                    option.disabled = isTaskCompletedForModel;
                });

                const isTaskCompleted = foundData.some(entry => entry.taskId === selectedTaskId && entry.modelId === selectedModelId);

                if (isTaskCompleted) {
                    window.alert("You have already completed this task for the selected model. Please choose another task.");
                    return false; // Prevent form submission
                }
            }

            storeFormData(); // Store form data before form submission
            return true; // Allow form submission
        }

        function storeFormData() {
            const name = document.getElementById('name').value;
            const age = document.getElementById('age').value;
            const gender = document.getElementById('gender').value;
            const modelId = document.getElementById('modelId').value;
            const taskId = document.getElementById('taskId').value;

            // Generate a 6 character GUID
            let guid = 'xxxxxx'.replace(/[x]/g, function() {
                return (Math.random() * 36 | 0).toString(36);
            });

            let uniqueName = name + '-' + guid;

            const userData = {
                name: name,
                uniqueName: uniqueName,
                age: age,
                gender: gender,
            };
            sessionStorage.setItem('userData', JSON.stringify(userData));

            const taskData = {
                modelId: modelId,
                taskId: taskId
            }
            sessionStorage.setItem('taskData', JSON.stringify(taskData));

            const selectedData = {
                modelId: modelId,
                taskId: taskId
            }
            sessionStorage.setItem('selectedData', JSON.stringify(selectedData));
        }

        function populateFields() {
            const userDataString = sessionStorage.getItem('userData');
            const taskDataString = sessionStorage.getItem('taskData');
            const foundDataJSON = sessionStorage.getItem('foundData');
            if (userDataString) {
                const userData = JSON.parse(userDataString);
                const nameInput = document.getElementById('name');
                const ageInput = document.getElementById('age');
                const genderSelect = document.getElementById('gender');
                const modelSelect = document.getElementById('modelId');
                const taskSelect = document.getElementById('taskId');

                nameInput.value = userData.name || '';
                ageInput.value = userData.age || '';
                genderSelect.value = userData.gender || '';

                nameInput.disabled = userData.name ? true : false;
                ageInput.disabled = userData.age ? true : false;
                genderSelect.disabled = userData.gender ? true : false;

                taskSelect.querySelectorAll('option').forEach(option => {
                    option.disabled = false;
                });

                if (taskDataString && foundDataJSON) {
                    const taskData = JSON.parse(taskDataString);
                    const foundData = JSON.parse(foundDataJSON);
                    const selectedModelId = modelSelect.value;

                    taskSelect.querySelectorAll('option').forEach(option => {
                        const taskId = option.value;
                        const isTaskCompletedForModel = foundData.some(entry => entry.taskId === taskId && entry.modelId === selectedModelId);
                        
                        // Disable the option only if the task is completed for the selected model
                        option.disabled = isTaskCompletedForModel && taskData.modelId === selectedModelId;
                    });
                }
            }
        }

        window.onload = populateFields();
    </script>
</body>
</html>
