<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="top-bar">
        <img src="/image/spotify.png" alt="Spotify Logo" class="logo">
    </div>
    <form action="/home" method="post" onsubmit="storeFormData()" th:object="${user}">
        <h3>Login Here</h3>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div>
            <label for="age">Age</label>
            <input type="text" id="age" name="age" required>
        </div>

        <div>
            <label for="gender">Gender</label>
            <select id="gender" name="gender">
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
        </div>

        <div>
            <label for="modelId">Model</label>
            <select id="modelId" name="modelId" required>
                <option value="1">Model 1 (Base Model)</option>
                <option value="2">Model 2 (Own Model)</option>
            </select>
        </div>

        <div>
            <label for="taskId">Task</label>
            <select id="taskId" name="taskId" required>
                <option value="1">Task 1: abc</option>
                <option value="2">Task 2: def</option>
                <option value="3">Task 3: xyz</option>
            </select>
        </div>

        <button type="submit">Log In</button>
        <br><br>
        <!-- to change later? -->
        <!-- <button type="submit">Submit Logfile</button> -->
        <br><br>
    </form>

    <!-- Rest of your code? -->

    <script>
        function storeFormData() {
            const name = document.getElementById('name').value;
            const age = document.getElementById('age').value;
            const gender = document.getElementById('gender').value;
            const modelId = document.getElementById('modelId').value;
            const taskId = document.getElementById('taskId').value;

                // Generate a 6 character GUID
                let guid = 'xxxxxx'.replace(/[x]/g, function() {
                    return (Math.random() * 36 | 0).toString(36);
                });

                let uniqueName = name + '-'+ guid;

                const  userData = {
                    name: name,
                    uniqueName: uniqueName,
                    age: age,
                    gender: gender,
                };
                sessionStorage.setItem('userData', JSON.stringify(userData));

                const taskData = {
                    modelId: modelId,
                    taskId: taskId
                }
                sessionStorage.setItem('taskData', JSON.stringify(taskData));
            }

            function populateFields() {
                const userDataString = sessionStorage.getItem('userData');
                if (userDataString) {
                    const userData = JSON.parse(userDataString);
                    document.getElementById('name').value = userData.name || '';
                    document.getElementById('age').value = userData.age || '';
                    document.getElementById('gender').value = userData.gender || '';
                }
            }

            window.onload = populateFields;
        </script>
        
    </div>

</body>
</html>
