<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="top-bar">
        <img src="/image/spotify.png" alt="Spotify Logo" class="logo">
        <a class="admin login-button" th:href="@{/admin}">Admin Login</a>
    </div>
    <form action="/home" method="post" onsubmit="return checkTaskCompletion()" th:object="${user}">
        <h3>Start</h3>
        <div>
            <label for="name">Full Name</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div>
            <label for="age">Age</label>
            <input type="text" id="age" name="age" required>
        </div>

        <div>
            <label for="gender">Gender</label>
            <select id="gender" name="gender">
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
        </div>

        <div>
            <label for="modelId">Model</label>
            <select id="modelId" name="modelId" required>
                <option value="1">Model 1 (Base Model)</option>
                <option value="2">Model 2 (Own Model)</option>
            </select>
        </div>

        <div>
            <label for="taskId">Task</label>
            <select id="taskId" name="taskId" required>
                <th:block th:each="task, iterStat : ${tasks}">
                    <option th:value="${iterStat.index + 1}" th:text="${task}"></option>
                </th:block>
            </select>
        </div>

    
        <button type="submit" id="proceedButton">Proceed</button>
        <button type="button" id="completeButton">Complete</button>
        <p class="complete-message">* Please click "Complete" button only after you have completed all the models/tasks.</p>        

    </form>
    <script src="/js/val.js"></script>

</body>
</html>
