<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/model-1.css">
</head>
<body>
<div class="main-container">
	<div class="topbar">
		<div class="model 1">
			<h3>Model 1:</h3>
		</div>
		<div th:class="${task}">
			<h3 th:text="${task}"></h3>
		</div>
		<div class="Timer">
			<h3 id="timerDisplay"></h3>
		</div>
	</div>
	<br /> <br /> <br />

	<div class="spotify-playlists">
		<div class="list">
			<div class="section--body">
				<div th:each="category, iter : ${layerOneList}"
					 th:style="'background-color: ' + ${backgroundColors[iter.index]} + ';'"
					 class="section--body--item category--item">
					<a th:href="@{/{modelNo}/category/{layer1} (modelNo=${modelId}, layer1=${category})}">
						<h3 th:text="${category}"></h3>
						<img th:src="@{'/image/' + ${category} + '.jpg'}"
							 th:alt="${category + ' Genre'}">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	let loadTime = new Date().getTime(); // Record the time when the page has fully loaded

	// Timer function
	document.addEventListener("DOMContentLoaded", function() {
		// Set to 0 if not present
		let totalDuration = parseInt(localStorage.getItem('totalDuration')) || 0;

		setInterval(function() {
			totalDuration += 1000;
			let minutes = Math.floor(totalDuration / 60000);
			let seconds = ((totalDuration % 60000) / 1000).toFixed(0);

			seconds = seconds < 10 ? '0' + seconds : seconds;
			// currently no timer display
			document.getElementById('timerDisplay').textContent = `${minutes}:${seconds}`;
		}, 1000);
	});


	// Listener function
	document.addEventListener("DOMContentLoaded", function() {
		const itemDivs = document.querySelectorAll('.item');

		itemDivs.forEach(div => {
			div.addEventListener('click', function(e) {
				const h4Text = e.currentTarget.querySelector('h4').textContent;

				let clickTime = new Date().getTime();
				let duration = (clickTime - loadTime)

				// TODO: Add model and task to line?

				const logLine = `${duration}, 2, ${h4Text}`; // 2 stands for the layer

				let history = JSON.parse(localStorage.getItem('history')) || [];
				history.push(logLine);

				localStorage.setItem('history', JSON.stringify(history));

				// Get from localStorage or set to 0 - shouldn't see 0 on sub
				let totalDuration = parseInt(localStorage.getItem('totalDuration')) || 0;
				totalDuration += duration;

				localStorage.setItem('totalDuration', totalDuration.toString());
			});
		});
	});
</script>

</body>
</html>