<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/model-1.css">
</head>
<body>
<div class="main-container">
	<div class="topbar">
		<div class="model 1">
			<h3>Model 1:</h3>
		</div>
		<div th:class="${task}">
			<h3 th:text="${task}"></h3>
		</div>
		<div class="Timer">
			<h3 id="timerDisplay"></h3>
		</div>
	</div>
	<br /> <br /> <br />

	<div class="spotify-playlists">
		<div class="list">
			<div class="section--body">
				<div th:each="category, iter : ${layerOneList}"
					 th:style="'background-color: ' + ${backgroundColors[iter.index]} + ';'"
					 class="section--body--item category--item">
					<a th:href="@{/{modelNo}/category/{layer1} (modelNo=${modelId}, layer1=${category})}">
						<h3 th:text="${category}"></h3>
						<img th:src="@{'/image/' + ${category} + '.jpg'}"
							 th:alt="${category + ' Genre'}">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/js/timer.js"></script>
<script>


	// Listener function
	document.addEventListener("DOMContentLoaded", function() {
		let lastClickTime = new Date().getTime(); // Initialize to current time at page load

		const itemDivs = document.querySelectorAll('.section--body');

		itemDivs.forEach(div => {
			div.addEventListener('click', function(e) {
				const currentTime = new Date().getTime();
				const duration = currentTime - lastClickTime; // Duration since last click

				lastClickTime = currentTime; // Update the last clicked time

				const h4Text = e.currentTarget.querySelector('h3').textContent;

				const logLine = `${duration}, 1, ${h4Text}`; // 2 stands for the layer

				let history = JSON.parse(sessionStorage.getItem('history')) || [];
				history.push(logLine);

				sessionStorage.setItem('history', JSON.stringify(history));

				let totalDuration = parseInt(sessionStorage.getItem('totalDuration')) || 0;
				totalDuration += duration;

				sessionStorage.setItem('totalDuration', totalDuration.toString());
			});
		});
	});

</script>

</body>
</html>