<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Song List</title>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/songs.css">
	<div th:include="common.html"></div>
</head>
<body>
	<div class="main-container" style="margin-left: 265px;">

		<div class="button-container">
			<button type="button" class="button btn-give-up">
				<img src="/image/giveup.svg">
				<span class="label">Give Up</span>
			</button>
			<button type="button" class="button btn-found">
				<img src="/image/found.svg">
				<span class="label">Found</span>
			</button>
		</div>
		<br/><br/><br/>
		<h2 th:text="${layer2}"></h2>
		<br/>
		<div>
			<div th:each="song : ${songs}">
				<!--<p th:text="${song.artist} + ' - ' + ${song.trackName}"></p>-->
				<iframe style="border-radius:12px" th:attr="src='https://open.spotify.com/embed/track/' + ${song.spotifyId} + '?utm_source=generator'" width="96%" height="90" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script>

		function showGiveUpButton() {
			const giveUpButton = document.querySelector(".btn-give-up");
			//giveUpButton.style.display = "block";
		}
	
		// Show the "Give up!" button after 1 minute (60,000 ms)
		setTimeout(showGiveUpButton, 60000);
		//setTimeout(showGiveUpButton, 1000);

		function foundData() {
			const selectedDataJSON = sessionStorage.getItem('selectedData');
			const selectedData = selectedDataJSON ? JSON.parse(selectedDataJSON) : {};

			let foundDataJSON = sessionStorage.getItem('foundData');
			let foundData = foundDataJSON ? JSON.parse(foundDataJSON) : [];

			const existingEntry = foundData.find(entry => entry.modelId === selectedData.modelId && entry.taskId === selectedData.taskId);

			if (!existingEntry) {
				foundData.push(selectedData);
				sessionStorage.setItem('foundData', JSON.stringify(foundData));
			}
		}

		// Function to send data to LogController endpoint
		function sendData(success, callback) {
			let userDataJSON = sessionStorage.getItem('userData');
			let taskDataJSON = sessionStorage.getItem('taskData');
			let historyJSON = sessionStorage.getItem('history');

			let userData = userDataJSON ? JSON.parse(userDataJSON) : {};
			let taskData = taskDataJSON ? JSON.parse(taskDataJSON) : {};
			let history = historyJSON ? JSON.parse(historyJSON) : {};

			let name = userData.uniqueName;
			let age = userData.age;
			let gender = userData.gender;
			let modelId = taskData.modelId;
			let taskId = taskData.taskId;

			// Prepare the payload
			let payload = {
				name: name,
				age: age,
				gender: gender,
				modelId: modelId,
				taskId: taskId,
				history: history,
				success: success
			};

			// Send POST request
			$.ajax({
				url: '/save-session-data',
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify(payload),
				success: function (response) {
					console.log(response);
				},
				error: function (error) {
					console.error(error);
				}
			}).always(function() {
				console.log("AJAX call completed.");
				// Reset everything except the user data here, after the AJAX request completes
				sessionStorage.removeItem('taskData');
				sessionStorage.removeItem('history');
				sessionStorage.removeItem('totalDuration');

				if (callback) callback();
			});
		}

		$(".btn-found").on("click", function (event) {
			stopTimer();
			foundData();
			sendData(true, function() {
				setTimeout(function() {
					window.location.href = "/home";
				}, 500); // waiting for half a second
			});

		});

		$(".btn-give-up").on("click", function (event) {
			stopTimer();
			const confirmed = confirm("Are you sure you want to give up?");
			if (confirmed) {
				sendData(true, function() {
					setTimeout(function() {
						window.location.href = "/home";
					}, 500); // waiting for half a second
				});

			} else {
				console.log("User canceled give up.");
			}
		});


		function stopTimer() {
			clearInterval(interval);
			interval = null;
			// Update the totalDuration one last time
			const currentTime = new Date().getTime();
			const elapsedTime = currentTime - lastEventTime;
			updateSessionStorage(elapsedTime);
		}

	</script>
	
</body>
</html>