<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Song List</title>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/model-1.css">
	<div th:include="common.html"></div>
</head>
<body>
	<div class="main-container">
		<div class="topbar">
			<div class="model 1">
			<h3>Model 1:</h3>
			</div>
			<div class="Task">
			<h3>Task 1: Find a soothing song containing the word ‘heartbreak by a male country singer </h3>
			</div>
			<div class="Timer">
				<h3 id="timerDisplay"></h3>
			</div>
		</div>
		<br/><br/><br/>

		<div class="d-flex justify-content-end mt-4" style="padding-right: 20px;">
			<a href="/home" class="btn btn-primary-found mr-5">Found</a>

			<button type="button" class="btn btn-primary-gu" style="display: none;">Give up!</button>
		</div>
		<br/><br/>
		<h2 th:text="${layer2}"></h2>
		<br/>
		<div style="text-align: center;">
			<p>test player (all text below to be removed)</p>
			<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2Ggr9IfS70wYQacW8nZKPG?utm_source=generator" width="96%" height="90" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			<div th:each="song : ${songs}">
				<p th:text="${song.trackName}"></p>
				<p th:text="${song.artist}"></p>
				<iframe style="border-radius:12px" th:attr="src='https://open.spotify.com/embed/track/' + ${song.spotifyId} + '?utm_source=generator'" width="96%" height="90" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
		<br/><br/><br/>
<!--		<center>-->
<!--			<div class="song-list mt-5">-->
<!--				<table class="table table-bordered-song">-->
<!--					<tbody>-->
<!--						<tr th:each="song : ${songs}">-->
<!--							<td>-->
<!--								<b><div th:text="${song.trackName}"></div></b>-->
<!--								<div th:text="${song.artist}"></div>-->
<!--							</td>-->
<!--						</tr>-->
<!--					</tbody>-->
<!--				</table>-->
<!--			</div>-->
<!--		</div>-->
<!--		</center>-->
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script src="/js/timer.js"></script>

	<script>

		function showGiveUpButton() {
			const giveUpButton = document.querySelector(".btn-primary-gu");
			giveUpButton.style.display = "block";
		}
	
		// Show the "Give up!" button after 1 minute (60,000 ms)
		// setTimeout(showGiveUpButton, 60000);
		setTimeout(showGiveUpButton, 1000);  // TODO: remove for actual expt

		// Function to handle the AJAX call
		function sendData(success) {
			let userDataJSON = sessionStorage.getItem('userData');
			let taskDataJSON = sessionStorage.getItem('taskData');
			let historyJSON = sessionStorage.getItem('history');

			let userData = userDataJSON ? JSON.parse(userDataJSON) : {};
			let taskData = taskDataJSON ? JSON.parse(taskDataJSON) : {};
			let history = historyJSON ? JSON.parse(historyJSON) : {};

			let name = userData.uniqueName;
			let age = userData.age;
			let gender = userData.gender;
			let modelId = taskData.modelId;
			let taskId = taskData.taskId;

			// Prepare the payload
			let payload = {
				name: name,
				age: age,
				gender: gender,
				modelId: modelId,
				taskId: taskId,
				history: history,
				success: success
			};

			// Send a POST request to your server
			$.ajax({
				url: '/save-session-data',
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify(payload),
				success: function (response) {
					console.log(response);
				},
				error: function (error) {
					console.error(error);
				}
			});

			// Reset everything except the user data
			sessionStorage.removeItem('taskData');
			sessionStorage.removeItem('history');
			sessionStorage.removeItem('totalDuration');
		}

		$(".btn-primary-found").on("click", function (event) {
			sendData(true); // Send data when "Found" button is clicked
		});

		$(".btn-primary-gu").on("click", function (event) {
			const confirmed = confirm("Are you sure you want to give up?");
			if (confirmed) {
				window.location.href = "/home";
			} else {
				console.log("User canceled give up.");
			}
		});
	</script>
	
</body>
</html>