<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sub-Genre</title>
    <link rel="stylesheet" href="/css/sub-genre.css">
</head>
<body>
<body>

<div class="sidebar">
    <div class="logo">
        <a href="#">
            <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="Logo" />
        </a>
    </div>

    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="fa fa-home"></span>
                    <span>Home</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fa-search"></span>
                    <span>Search</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fas fa-book"></span>
                    <span>Your Library</span>
                </a>
            </li>
        </ul>
    </div>

</div>

<div class="main-container">
    <div class="topbar">
        <div class="prev-next-buttons">
            <button type="button" class="fa fas fa-chevron-left"></button>
            <button type="button" class="fa fas fa-chevron-right"></button>
        </div>

        <div class="navbar">
            <ul>
                <li>
                    <a href="#">Premium</a>
                </li>
                <li>
                    <a href="#">Support</a>
                </li>
                <li>
                    <a href="#">Download</a>
                </li>
                <li class="divider">|</li>
                <li>
                    <a href="#">Sign Up</a>
                </li>
            </ul>
            <button type="button">Log In</button>
        </div>
    </div>

    <div class="spotify-playlists">
        <h2>Browse Sub-Categories</h2>

        <div class="list">
            <div class="item">
                <img src="https://i.scdn.co/image/ab67616d0000b2733b5e11ca1b063583df9492db" />
                <div class="play">
                    <span class="fa fa-play"></span>
                </div>
                <h4>Today's Top Hits</h4>
                <p>Rema & Selena Gomez are on top of the...</p>
            </div>

            <div class="item">
                <img src="https://i.scdn.co/image/ab67616d0000b2733b5e11ca1b063583df9492db" />
                <div class="play">
                    <span class="fa fa-play"></span>
                </div>
                <h4>Rock Classics</h4>
                <p>Rock Legends & epic songs that continue t...</p>
            </div>

            <div class="item">
                <img src="/static/image/temp_cover.png" />
                <div class="play">
                    <span class="fa fa-play"></span>
                </div>
                <h4>Chill Hits</h4>
                <p>Kick back to the best new and recent chill...</p>
            </div>

            <div class="item">
                <img src="/static/image/temp_cover.png" />
                <div class="play">
                    <span class="fa fa-play"></span>
                </div>
                <h4>Viva Latino</h4>
                <p>Today's top Latin hits elevando nuestra...</p>
            </div>

            <div class="item">
                <img src="/static/image/temp_cover.png" />
                <div class="play">
                    <span class="fa fa-play"></span>
                </div>
                <h4>Mega Hit Mix</h4>
                <p>A mega mix of 75 favorites from the last...</p>
            </div>

        </div>
    </div>

</div>

<script
        src="https://kit.fontawesome.com/23cecef777.js"
        crossorigin="anonymous"
></script>

<script>
    let loadTime = new Date().getTime(); // Record the time when the page has fully loaded

    // Timer function
    document.addEventListener("DOMContentLoaded", function() {
        // Set to 0 if not present
        let totalDuration = parseInt(localStorage.getItem('totalDuration')) || 0;

        setInterval(function() {
            totalDuration += 1000;
            let minutes = Math.floor(totalDuration / 60000);
            let seconds = ((totalDuration % 60000) / 1000).toFixed(0);

            seconds = seconds < 10 ? '0' + seconds : seconds;
            // currently no timer display
            // document.getElementById('timerDisplay').textContent = `${minutes}:${seconds}`;
        }, 1000);
    });


    // Listener function
    document.addEventListener("DOMContentLoaded", function() {
        const itemDivs = document.querySelectorAll('.item');

        itemDivs.forEach(div => {
            div.addEventListener('click', function(e) {
                const h4Text = e.currentTarget.querySelector('h4').textContent;

                let clickTime = new Date().getTime();
                let duration = (clickTime - loadTime)

                // TODO: Add model and task to line?

                const logLine = `${duration}, 2, ${h4Text}`; // 2 stands for the layer

                let history = JSON.parse(localStorage.getItem('history')) || [];
                history.push(logLine);

                localStorage.setItem('history', JSON.stringify(history));

                // Get from localStorage or set to 0 - shouldn't see 0 on sub
                let totalDuration = parseInt(localStorage.getItem('totalDuration')) || 0;
                totalDuration += duration;

                localStorage.setItem('totalDuration', totalDuration.toString());
            });
        });
    });
</script>

</body>
</body>
</html>