<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sub-Genre</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sub-genre.css">
    <div th:include="common.html"></div>
</head>

<body>

<div class="main-container">

    <div class="spotify-playlists">
        <h2 th:text="${layer1}"></h2>
        <div class="list">
            <div th:each="subgenre, stat : ${subgenres}" class="item">
                <a th:href="@{'/' + ${modelNo} +'/' + ${taskNo} + '/' + ${layer1} + '/' + ${subgenre}}">
                    <img th:src="${coverUrls[stat.index]}" alt="Album Cover" />
                </a>
                <div class="play">
                    <span class="fa fa-play"></span>
                </div>
                <h4 th:text="${subgenre}"></h4>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function() {
    const storedColor = sessionStorage.getItem('backgroundColor');
    if (storedColor) {
        const body = document.querySelector('body');
        body.style.background = `linear-gradient(to bottom, ${storedColor} 0%, #000000 50%, #000000 100%)`;
    }
    }
</script>

<script
        src="https://kit.fontawesome.com/23cecef777.js"
        crossorigin="anonymous"
></script>

</body>

</html>