<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sub-Genre</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sub-genre.css">
    <div th:include="common.html"></div>
</head>

<body>

<div class="sidebar">
    <div class="logo">
        <a href="#">
            <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="Logo" />
        </a>
    </div>

    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="fa fa-home"></span>
                    <span>Home</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fa-search"></span>
                    <span>Search</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="fa fas fa-book"></span>
                    <span>Your Library</span>
                </a>
            </li>
        </ul>
    </div>

</div>

<div class="main-container">
    <div class="topbar">
        <div class="prev-next-buttons">
            <button type="button" class="fa fas fa-chevron-left"></button>
            <button type="button" class="fa fas fa-chevron-right"></button>
        </div>
    </div>

    <div class="spotify-playlists">
        <h2 th:text="${layer1}"></h2>
        <div class="list">
            <div th:each="subgenre, stat : ${subgenres}" class="item">
                <a th:href="@{'/' + ${modelNo} +'/' + ${taskNo} + '/' + ${layer1} + '/' + ${subgenre}}">
                    <img th:src="${coverUrls[stat.index]}" alt="Album Cover" />
                </a>
                <div class="play">
                    <span class="fa fa-play"></span>
                </div>
                <h4 th:text="${subgenre}"></h4>
                <p>...</p>
            </div>
        </div>
    </div>
</div>

<script
        src="https://kit.fontawesome.com/23cecef777.js"
        crossorigin="anonymous"
></script>

<script src="/js/timer.js"></script>
<script>

    // Listener function
    document.addEventListener("DOMContentLoaded", function() {
        let lastClickTime = new Date().getTime(); // Initialize to current time at page load

        const itemDivs = document.querySelectorAll('.item');

        itemDivs.forEach(div => {
            div.addEventListener('click', function(e) {
                const currentTime = new Date().getTime();
                const duration = currentTime - lastClickTime; // Duration since last click

                lastClickTime = currentTime; // Update the last clicked time

                const h4Text = e.currentTarget.querySelector('h4').textContent;

                const logLine = `${duration}, 2, ${h4Text}`; // 2 stands for the layer

                let history = JSON.parse(sessionStorage.getItem('history')) || [];
                history.push(logLine);

                sessionStorage.setItem('history', JSON.stringify(history));

                let totalDuration = parseInt(sessionStorage.getItem('totalDuration')) || 0;
                totalDuration += duration;

                sessionStorage.setItem('totalDuration', totalDuration.toString());
            });
        });
    });

</script>
</body>
</body>

</html>