<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<title> Task List </title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<div th:include="common-admin.html"></div>
	<link rel="stylesheet" href="/css/list.css">
</head>

<body>
	<div class="container">
		<div th:if="${messageSuccess}" class="alert alert-danger" role="alert">
			<p th:text="*{messageSuccess}"></p>
		</div>
		<br />
		<div class="search-container">
			<input type="text" class="search" id="searchInput" placeholder="Search"
				oninput="filterTable()">
		</div>

		<table class="table table-striped" id="taskTable">
			<thead>
				<tr>
					<th>ID</th>
					<th>Task Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<!-- Iterate over the admins and display their information -->
				<tr th:each="tl : ${taskList}" id="taskRow">
					<td th:text="${tl.id}"></td>
					<td style="display: flex; justify-content: center; align-items: center; width: 100%;">
						<input type="text" class="task-name" th:value="${tl.name}" readonly/>
						<a href="javascript:void(0);" class="save-button">
							<img src="/image/save.svg" alt="Save">
						</a>
					</td>
					<td>
						<a th:href="@{/admin/task/update/{id}(id=${tl.id})}" class="edit-button">
							<img src="/image/edit.svg" alt="" />
						</a>
						<a th:href="@{/admin/task/delete/{id}(id=${tl.id})}" class="delete-button" onclick="return confirmDelete();">
							<img src="/image/delete.svg" alt="" />
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a class="create" href="/admin/task/create">Create New Task</a>
	</div>
	<script src="/js/list.js"></script>
	<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>