<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Think Time Genre Chart</title>
	<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/timechart.css">
	<div th:include="common-admin.html"></div>
</head>
<body>
<div class = "container">
	<select id="taskSelector" class="dropdown" style="display: block; margin: 0 auto;">
		<th:block th:each="task, iterStat : ${tasks}">
			<option th:value="${iterStat.index + 1}" th:text="${task}"></option>
		</th:block>
	</select>
	<br/>
	<br/>
	<div id="model1ChartContainer" style="height: 350px; width: 100%;"></div>
	<br/>
	<div id="model2ChartContainer" style="height: 350px; width: 100%;"></div>
</div>

<!-- Script to run the stacked column chart and task selector-->
<script th:inline="javascript">
	/*<![CDATA[*/

	// Initial variables
	var taskSelector = document.getElementById("taskSelector");
	var sortedModel1Task1GenreThinkTime = /*[[${sortedModel1Task1GenreThinkTime}]]*/ 'default';

	var sortedModel1Task2GenreThinkTime = /*[[${sortedModel1Task2GenreThinkTime}]]*/ 'default';
	var sortedModel1Task3GenreThinkTime = /*[[${sortedModel1Task3GenreThinkTime}]]*/ 'default';
	var sortedModel2Task1GenreThinkTime = /*[[${sortedModel2Task1GenreThinkTime}]]*/ 'default';
	var sortedModel2Task2GenreThinkTime = /*[[${sortedModel2Task2GenreThinkTime}]]*/ 'default';
	var sortedModel2Task3GenreThinkTime = /*[[${sortedModel2Task3GenreThinkTime}]]*/ 'default';

	var model1Labels = ["Pop", "Metal", "Rock", "Punk", "EDM", "Hip Hop", "Jazz", "Country"];
	var model2Labels = ["Pop Tunes", "Alternative and Rock", "Electronica", "Global Rap and Rhythms", "Melodic and Soulful", "Relaxed Instrumentals"];

	// Common UI configs. Title font has to be specified in the chart config itself otherwise it gets overridden.
	var commonChartConfig = {
		backgroundColor: "#fafafa",
		axisY: {
			title: "Total Time (s)"
		},
		axisX: {
			title: "Genres"
		},
		data: [],
		toolTip: {
			fontColor: "#000000"
		},
	};


	// Utility function to generate sorted data points
	function generateSortedDataPoints(values, keys, i, j) {
		var dataPointsWithKeys = [];
		var sum = 0;
		for (var k = 0; k < 5; k++) {
			var value = values[k + j * 5];
			var key = keys[k + j * 5];
			var truncatedKey = key;
			if(key.length > 20) {  // truncate the label if too long
				truncatedKey = key.substring(0, 20) + "...";
			}
			dataPointsWithKeys.push({ y: value, label: key, truncatedKey: truncatedKey });
			sum += value;
		}

	    // Round sum to 1 decimal place
	    sum = Math.round(sum);
		
		// Sort by y-values in descending order
		dataPointsWithKeys.sort((a, b) => b.y - a.y);

		return {
			y: dataPointsWithKeys[i].y,
			label: dataPointsWithKeys[i].label,
			indexLabel: i == 4 ? (sum < 1 ? "" : "Total: " + sum) : (dataPointsWithKeys[i].y < 1 ? "" : dataPointsWithKeys[i].truncatedKey),
			indexLabelPlacement: i == 4 ? (sum < 1 ? "inside" : "outside") : "inside"
		};
	}


	// Function to initialize or update chart
	function initializeOrUpdateChart(chart, labels, values, keys) {
		chart.options.data.length = 0;
		var colors = ["#52b788", "#74c69d","#95d5b2", "#b7e4c7","#d8f3dc", ];

		for (var i = 0; i < 5; i++) {
			var dataPoints = [];
			for (var j = 0; j < labels.length; j++) {
				dataPoints.push(generateSortedDataPoints(values, keys, i, j));
			}
			chart.options.data.push({
				type: "stackedColumn",
				dataPoints: dataPoints,
				color: colors[i] // Set color for each series
			});
		}
		chart.render();
	}


	// On window load
	window.onload = function () {
		var model1Chart = new CanvasJS.Chart("model1ChartContainer", Object.assign({}, commonChartConfig, {
			title: {
				fontFamily: "Arial",
				fontSize: 30,
				fontWeight: "bold",
				fontColor: "#000000",
				text: "Model 1"
			},
			axisX: {
				title: "Genres",
				labelFormatter: function (e) {
					return model1Labels[e.value % 8];
				}
			}
		}));

		var model2Chart = new CanvasJS.Chart("model2ChartContainer", Object.assign({}, commonChartConfig, {
			title: {
				fontFamily: "Arial",
				fontSize: 30,
				fontWeight: "bold",
				fontColor: "#000000",
				text: "Model 2"
			},
			axisX: {
				title: "Genres",
				labelFormatter: function (e) {
					return model2Labels[e.value % 6];
				}
			}
		}));

		taskSelector.addEventListener("change", function () {
			var sortedModel1GenreThinkTime, sortedModel2GenreThinkTime;
			if (this.value === "1") {
				sortedModel1GenreThinkTime = sortedModel1Task1GenreThinkTime;
				sortedModel2GenreThinkTime = sortedModel2Task1GenreThinkTime;
			} else if (this.value === "2") {
				sortedModel1GenreThinkTime = sortedModel1Task2GenreThinkTime;
				sortedModel2GenreThinkTime = sortedModel2Task2GenreThinkTime;
			} else {
				sortedModel1GenreThinkTime = sortedModel1Task3GenreThinkTime;
				sortedModel2GenreThinkTime = sortedModel2Task3GenreThinkTime;
			}

			var model1Values = Object.values(sortedModel1GenreThinkTime);
			var model1Keys = Object.keys(sortedModel1GenreThinkTime);

			var model2Values = Object.values(sortedModel2GenreThinkTime);
			var model2Keys = Object.keys(sortedModel2GenreThinkTime);

			initializeOrUpdateChart(model1Chart, model1Labels, model1Values, model1Keys);
			initializeOrUpdateChart(model2Chart, model2Labels, model2Values, model2Keys);
		});

		// Initial rendering
		taskSelector.dispatchEvent(new Event("change"));
	}

	/*]]>*/
</script>

</body>
</html>

