<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>User Logs Visualization</title>
        <link rel="stylesheet" href="/css/userlogs.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css">
        
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <div th:include="common-admin.html"></div>
    </head>
    <body>
        <div class="main-container">
            <form action="/admin/userlogs" method="post" id="form">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <select id="name" name="name" class="form-control" required>
                        <th:block th:each="user : ${userList}">
                            <option th:value="${user}" th:text="${user}"></option>
                        </th:block>
                    </select>
                </div>

                <div class="form-group">
                    <label for="modelId">Model ID:</label>
                    <select id="modelId" name="modelId" class="form-control" required>
                        <option value="1">Spotify Model</option>
                        <option value="2">Own Model</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="taskId">Task:</label>
                    <select name="taskId" id="taskId" class="form-control">
                        <th:block th:each="task, iterStat : ${tasks}">
                            <option th:value="${iterStat.index + 1}" th:text="${task}"></option>
                        </th:block>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Filter" class="btn btn-primary">
                </div>

            </form>

            <div class="result-display mt-3">
                <p>
                    <span th:if="${selectedName != null and selectedName != ''}" th:text="'Name: ' + ${selectedName} + ', '"></span>
                    <span th:if="${selectedModelId != null}" th:text="'Model ID: ' + ${selectedModelId} + ', '"></span>
                    <span th:if="${selectedTaskId != null}" th:text="'Task ID: ' + ${selectedTaskId} + ', '"></span>
                    <span th:if="${success != null}" th:switch="${success}">
                        <span th:case="1">Found: Yes, </span>
                        <span th:case="2">Found: No, </span>
                        <span th:default="'Success: ' + ${success}"></span>
                    </span>
                    <span th:if="${totalThinkTime != null}" th:text="'Total Think Time: ' + ${totalThinkTime}"></span>
                </p>
            </div>
            
        </div>
        <div id="tree"></div>
        <div th:if="${treeData}" th:inline="javascript">
            <script th:inline="javascript">
                let treeData = /*[[${treeData}]]*/ 'defaultTreeData';
            </script>
            <script src="/js/tree.js"></script> 
        </div>
    </body>
    <script src="/js/username-search.js"></script>
</html>