<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Logs Visualization</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="/css/userlogs.css">
</head>
<body>
    <div th:include="sidebar.html"></div>
    <div>
        <form action="/admin/userlogs" method="post" id="form">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="modelId">Model ID:</label>
            <input type="number" id="modelId" name="modelId" required>

            <label for="taskId">Task ID:</label>
            <input type="number" id="taskId" name="taskId" required>

            <input type="submit" value="Filter">
        </form>
    </div>
    <div id="tree"></div>

    <div th:if="${treeData}" th:inline="javascript">
        <script th:inline="javascript">
            let treeData = /*[[${treeData}]]*/ 'defaultTreeData';
        </script>
        <script src="/js/tree.js"></script> 
    </div>
</body>
</html>
